
body {
    margin: 1em ;
    background-color: rgb(12, 9, 9);
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: 700;
    font-style: normal;

}

.container {
    display: grid;
    grid-template-areas:"header aside" "content aside" "footer aside";
    gap: 5px;
}


header {
    grid-area: header;
}


main {
    grid-area: content;
}

 aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

nav {
    border-radius: 5px;
    padding: 15px;
    background-color:  rgb(29, 26, 26);
    border: solid rgb(55, 114, 70);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    text-decoration: none;

}

.navigation-item {
    border: solid rgb(55, 114, 70);
    border-radius: 50px;
    padding: 20px;
    background: transparent;
    color: white;
}

.navigation-item:hover {
    background: pink;
    color: black;
}

.profil { 
    background-color: rgb(29, 26, 26);
    border: solid rgb(55, 114, 70);
    padding: 20px;
    border-radius: 5px;
    line-height: 1.5;
    margin-right: 10px;
}

#parcours { 
    background-color: rgb(29, 26, 26);
    border: solid rgb(55, 114, 70);
    padding: 20px;
    border-radius: 5px;

}

footer {
    border: solid rgb(55, 114, 70);
    background-color: rgb(29, 26, 26);
    border-radius: 5px;
    padding: 20px;
}

form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    color: orange;
}

.form-name-city {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-column {
    flex:1;
    display: flex;
    flex-direction:column ;
    margin-bottom: 20px;
}

input,select,
textarea {
    padding: 15px;
    border: none;
    border-radius: 5px;
}

input[type='submit'] {
    width: 200px;
    margin: auto;
    margin-top: 30px;
    background: rgb(55, 114, 70);
    border-radius: 50px;
    color: white;
}

input[type='submit']:hover {
    background: pink;
    color: black;
}

aside {
    border:solid rgb(55, 114, 70);
    background-color: rgb(29, 26, 26);
    border-radius: 5px;
    width: 300px;
    max-height: 1500px;
    overflow: scroll; 
}

.aside-photo {
    display: flex;
    flex-direction: column;
    max-width: 300px; 
    margin-bottom: 10px;

}

main {
    font-size: 1.2em;
}

article {
    display: flex;
    flex-direction: row;
    margin: 10px;
    line-height: 1.5;
}

h1,
h2 {
    margin-left: 150px;
}


.photo-hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    background-color: rgb(29, 26, 26);
    display: none;
}


